
header {
  border-bottom: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo > img {
  width: 50px;
  height: auto;
}

.logo > h1 {
  font-size: 30px;
  font-weight: 500;
}

nav {
  padding: 10px;
  border: 2px solid black;
}
